[submodule "submodules/red-queen"]
	path = submodules/red-queen
	url = https://github.com/Qiskit/red-queen
[submodule "submodules/QASMBench"]
	path = submodules/QASMBench
	url = https://github.com/pnnl/QASMBench
[submodule "submodules/MQTBench"]
	path = submodules/MQTBench
	url = https://github.com/cda-tum/MQTBench.git
