[submodule "submodules/red-queen"]
	path = submodules/red-queen
	url = https://github.com/Qiskit/red-queen
[submodule "submodules/QASMBench"]
	path = submodules/QASMBench
	url = https://github.com/pnnl/QASMBench
[submodule "QUEKO-benchmark"]
	path = submodules/QUEKO-benchmark
	url = https://github.com/tbcdebug/QUEKO-benchmark
[submodule "bqskit"]
	path = submodules/bqskit
	url = https://github.com/BQSKit/bqskit.git
